<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>imediagram :: {{ usuario.username }}</title>
    <link rel="stylesheet" type="text/css" href="static/style/p.css">
</head>

<body>
    <div class="header">
        <a href="feed.html" class="top-left">Feed</a>
        <a href="homepage.html" class="top-right">Sair</a>
    </div>

    <div class="profile-container">
        <div class="profile-picture">
            <img src="static/style/img/fotoPerfil.png" alt="Foto de Perfil">
        </div>
        <h2><span id="user-name">Carregando...</span></h2>
    </div>

    <!-- Botão "Publicar" -->
    <div class="form-container">
        <button id="publicar-btn" class="upload-btn">Publicar</button>
    </div>

    <!-- Tela semitransparente (inicialmente oculta) -->
    <div id="overlay" class="overlay">
        <div class="overlay-content">
            <form id="publicar-form" method="post" enctype="multipart/form-data">
                <textarea id="legenda" placeholder="Digite uma legenda..." required></textarea>
                <div class="upload-btn-container">
                    <label for="foto" class="upload-btn">Upload</label>
                    <input type="file" name="foto" accept="image/*" id="foto" style="display: none;">
                    <div id="file-selected-image" class="file-selected-image">
                        <img id="thumbnail" src="" alt="Miniatura da foto">
                    </div>
                </div>
                <div class="upload-btn-container">
                    <button type="submit" class="upload-btn">Publicar</button>
                </div>
            </form>
            <button id="fechar-overlay" class="upload-btn">Cancelar</button>
        </div>
    </div>

    {% if fotos %}
    <div class="photo-grid">
        {% for foto in fotos %}
        <div class="photo-item">
            <div class="square-image">
                <img src="static/fotos_posts/{{ foto.imagem }}" alt="Foto de {{ usuario.username }}">
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Scripts -->
    <script src="static/scripts/perfil.js"></script>
</body>

</html>