{% extends 'homepage.html' %}

{% block titulo %}
snapGram :: Feed
{% endblock %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/feed.css') }}">
<script src="{{ url_for('static', filename='scripts/feed.js') }}"></script>

<div class="header">
    <a href="#" class="top-left">Perfil</a>
    <a href="{{ url_for('routes.homepage') }}" class="top-right">Sair</a>
</div>

<h2>Feed</h2>

<ul class="photo-grid">
    {% for foto in fotos %}
    <li class="photo-item">
        <div class="photo-info">
            <div class="user-info">
                <img src="{{ url_for('static', filename='style/img/fotoPerfil.png') }}" alt="Foto de perfil"
                    class="profile-image">
                <p class="photo-username">{{ foto.usuario.username }}</p>
            </div>
            <div class="square-image">
                <img src="{{ url_for('static', filename='fotos_posts/' + foto.imagem) }}"
                    alt="Foto de {{ foto.usuario.username }}">
            </div>
            <p class="photo-timestamp">{{ foto.data_criacao }}</p>

        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}