<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block titulo %}
        Login
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/homepage.css') }}">
</head>

<body>
    {% block body %}
    <div class="form-container">
        <form id="login-form" method="POST">
            {{ form.csrf_token }}
            <h2 class="titulo-login">Login</h2>
            <div class="input-container">
                <label for="email">Endereço de E-mail</label>
                {{ form.email() }}
            </div>

            <div class="input-container">
                <label for="senha">Senha</label>
                {{ form.senha() }}
            </div>

            <button type="submit" class="custom-button">Entrar</button>
            <a href="{{ url_for('routes.criarconta') }}" class="link-criar-conta">Criar Conta</a>
        </form>
    </div>
    <script src="{{ url_for('static', filename='scripts/api.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/homepage.js') }}"></script>
    {% endblock body %}
</body>

</html>